
*{
  margin: 0;
font-family: 'Karla', sans-serif;
  
}


main{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #0B2434 ;
}

.main-app{
  width: 90vw;
  height: 90vh;
  background-color: #F5F5F5;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
.title {
  font-size: 40px;
  margin: 0;
 
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.die-grid{
  display: grid;
  place-content: center;
  padding: 20px;
  grid-template-columns: repeat(5 , 100px);
  gap: 20px;
}
.die-main{
  display: grid;
  place-content: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}

button{
  width: 120px;
  height: 60px;
  margin: 0 auto;
background-color: rgb(29, 73, 167);  
color: white;
cursor: pointer;
border: 0px;
border-radius: 10px;
box-shadow: 0px 2px 2px rgb(211, 202, 202);
font-size: 22px;
}
